<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ricanmorti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ricanmorti</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-img src="assets/img/Rick_and_Morty.svg" alt="Ricanmorti logo"></ion-img>
    <ion-text color="success">
      <h4>Browse Through</h4>
      <ion-router-link color="warning" href="userslist">Characters</ion-router-link>
    </ion-text>
  </div>
</ion-content>
